:root {
  --bg-primary-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --gray: hsl(0, 1%, 78%);
  --light-gray: #eee;
}















