@use '../util' as *;

.profiles {
  height: 100vh;
  background-color: var(--bg-primary-cyan);
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
  background-position: top -43rem left -1rem , bottom -50rem right -2.4rem;
  background-repeat: no-repeat;
  
  //Phone Landscape:
  @include respond(phone-landscape) {
    background-size: 50rem;
    background-position: top -23rem left -28rem, bottom -21rem right -24rem; 
  }
  
  // Small Phone:
  @include respond(sm-phone) {
    background-size: 50rem;
    background-position: top -26rem left -29rem, bottom -20rem right -31rem; 
  }

  display: flex;
  justify-content: center;
  align-items: center;
};

.profile-card {
  background-color: #fff;
  border-radius: 1.6rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

  // Phone Landscape:
  @include respond(phone-landscape) {
    width: 30rem;   
  }

  // Small Phone:
  @include respond(sm-phone) {
    width: 33rem;   
  }

  &__hero {
    max-width: 100%;
    border-radius: 1.6rem 1.6rem 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

  // === INFO ===
  &__info {
    line-height: 1.5; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem; 
  }

  &__img {
    height: 10.6rem;
    width: 10.6rem;
    object-fit: cover;
    border: 5px solid #fff; 
    border-radius: 100%;
    transform: translateY(-50%);
    margin-bottom: -30%; 
  }

  &__person {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--dark-blue);
  }

  &__years {
    font-weight: 400;
    color: var(--dark-grayish-blue);
    margin-left: .8rem; 
  }

  &__city {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--dark-gray);
  }

  // === STATS ===
  &__stats-box {
    width: 100%;
    border-top: 1px solid var(--light-gray); 
    display: flex;
    justify-content: space-around;
    margin-top: 2.4rem;
  }

  &__stat {
    padding: 2.4rem; 
    text-align: center;
           
    &:first-of-type {
      margin-left: 2.4rem;
    }
    &:last-of-type {
       margin-right: 2.4rem;
    }

    &-value {
      font-size: 1.8rem;
      color: var(--dark-blue);
      font-weight: 700; 
      margin-bottom: .4rem;
      
      span {
          text-transform: uppercase;
      }
    }

    &-name {
      font-size: 1.2rem;
      color: var(--dark-gray);
      letter-spacing: 1.2px;
    }
  } 
}























